.mainContainer {
    width: 100%;
    height: 80px; /* Increase as needed */
    background: linear-gradient(135deg, #65d2e0, #557d86);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.foodLogo {
    font-size: 35px;
    animation: bounce 1s infinite;
}

.listItems {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.listItems li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

.listItems li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.listItems li a:hover::after {
    width: 100%;
}

.listItems li a:hover {
    color: #fff8dc;
}

.listItems li:last-child a {
    font-size: 24px;
    background: white;
    color: #65d2e0;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.listItems li:last-child a:hover {
    transform: scale(1.1) rotate(10deg);
    background: #fff8dc;
}

.cartIcon{
    width: 55px;
    height: 55px;
    background: #FFF8DC;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #65d2e0;
    font-size: 28px;
    cursor: pointer;

    transition: transform 0.4s ease;
}

/* Rotate the entire circle on hover */
.cartIcon:hover{
    transform: rotate(20deg);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .listItems {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

   .logo {
        font-size: 24px;
    }
}
